In [1]:
import pandas as pd

In [ ]:
#篩選練習 - Series
data = pd.Series([30 , 15 , 20])
condition = [True , False , True]
filteredData = data[condition]   #只要True 不要False
print(filteredData)

condition1 = data >18
print(condition1)

In [5]:
data = pd.Series(['你好' , 'Python' , 'Pandas'])
condition = data.str.contains("P")
filteredData = data[condition]

filteredData

1    Python
2    Pandas
dtype: object

In [10]:
#篩選練習 - DataFrame

data = pd.DataFrame({
    "name" : ['david' , "Wayne" , "Tony"],
    "salary" : [70000,40000,30000]
},index=['a','b','c'])

condition = [True , False , False]

data[condition]


condition = data['salary'] >= 40000

data[condition]


condition = data["name"] == "david"

data[condition]

    name  salary
a  david   70000